// Variables que afectan bootstrap
$blue: #17153B;
$gray: #2E236C;

// https://getbootstrap.com/docs/5.3/customize/sass/#variable-defaults
// Modificación, usamos archivo de variables propio
$body-bg: #f1faee;

$info:         #433D8B;
$warning:      #C8ACD6;
$light:        #FFFFFF;